# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
ENV/

# Data files
*.npy
*.csv
*.h5
*.db
*.sqlite3

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# System files
Thumbs.db

# Others
*.bak
*.tmp
